.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex: 3;
    flex-direction: column;
    .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        background-color: white;
    }
    p{
        position: relative;
        left: 8px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        background-color: white;
        margin: 16px 0px;
        p{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.firm{
    display: flex;
    flex: 1;
    background-color: white;
    flex-direction: column;
    border-radius: 4px;
    height: 350px;
    margin-left: 16px;
}

.price-content{
    display: flex;
    flex-direction: column;
    .location{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: -16px 0px;
    }
    .price-detail{
        display: flex;
        flex-direction: column;
        margin: 16px 16px;
        .lable{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 4px 0px;
        }
    }

    .price-total{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 16px 0px;
        .total{
            font-weight: bold;
            font-size: 32px;
            color: red;
        }
    }
}

.button-buy{
    align-items: center;
    justify-content: center;
    button{
        background-color: red;
        color: white;
        font-weight: 550;
        height: 60px;
        &:hover{
            background-color: #ff5d5d;
        }
    }
}

.quantity-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        padding: 4px 16px;
        border: #ccc 1px solid;
        font-size: 16px;
    }
    button{
        border: #ccc 1px solid;
        width: 30px;
        height: 30px;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            background-color: #ccc;
        }

    }
    
}

.wrapper-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-button-submit{
    background-color: aqua;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 8px;
    border: 1px solid #ccc;
    &:hover{
        cursor: pointer;
    }
}
.modal-button-cancel{
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 8px;
    border: 1px solid #ccc;
    &:hover{
        cursor: pointer;
    }
}

.modal-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 32px;
    p{

        display: flex;
        font-size: 16px;
        font-weight: 500;
        justify-content: flex-end;
    }
    input{

        width: 300px;
        height: 40px;
        margin-left: 8px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        &:focus{
            outline: none;
        }
    }

    select{
        width: 300px;
        height: 40px;
        margin-left: 8px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        &:focus{
            outline: none;
        }
    }
    
}
