.search{
    display: flex;
    flex: 10;
    align-items: center;
    justify-self: center;
    width: fit-content;
    height: 45px;
    padding-left: 16px;
    margin-right: 32px;
    border:#dddde3 1px solid;
    border-radius: 92px;

    input{
        flex: 1;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: #000;
        border: none;
        height: 100%;
        background-color: transparent;
        outline: none;
    }
    &:focus-within{
        border: 1px solid var(--primary);
    }
}
.search-line{
    display: flex;
    flex: 10;

}
.search-result{
    margin-top: 8px;
    background-color: #fff;
    width: 830px;
    height: 400px;
    overflow: scroll;
    .search-title{
        margin-left: 10px;
    }
}
.clear{
    color: rgba(22, 24, 35, 0.34);
    width: 25px;
    height: 50%;
    background-color: transparent;
    border: none;
    outline: none;

    &:hover{
        cursor: pointer;
        background-color: #ffffff;
    }

    &:active{
        background-color: #8d8d8d;
    }
}


.search-btn{
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0 18px 18px 0;

    &:hover{
        cursor: pointer;
        background-color: #dddde3;
    }

    &:active{
        background-color: #acacb0;
    }
}

.wrapper{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        color: #bc0093;
    }
}

.info{
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.name{
    font-size: 1.6rem;
    font-weight: 600;
}